@media only screen and (max-width: 767px){
 /* header */
 .l-header__list {
  display: none;
 }
.l-header {
  position: relative;
  height: 60px;
  padding: 20px;
}
.l-header__logo {
  width: 107px;
}

/* ハンバーガーメニュー */
.p-gnav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 180px;
  height: 100%;
  background-color: #dd1b57;
  box-shadow: -10px 0 35px -20px rgb(0 0 0 / 25%);
}
.p-gnav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  padding: 90px 20px 20px 50px;
  row-gap: 25px;
}
.p-gnav__link {
  color: #fff;
}
.p-gnav__linkActive {
  opacity: 0.6;
}
.p-btn__menu {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 2px 16px;
  border: none;
  outline: none;
  background: none;
  background-color: #dd1b57;
  cursor: pointer;
  appearance: none;
}
.p-btn__menuLine {
  display: block;
  position: relative;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.4s;
  border-radius: 4px;
  background-color: #fff;
}
.p-btn__menuLine::before,
.p-btn__menuLine::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: inherit;
  border-radius: 4px;
  background-color: #fff;
}
.p-btn__menuLine::before {
  top:-8px
}
.p-btn__menuLine::after {
  top: 8px;
}
.p-btn__menu.active .p-btn__menuLine {
  background-color: transparent;
}
.p-btn__menu.active .p-btn__menuLine::before,
.p-btn__menu.active .p-btn__menuLine::after {
  top: 0;
  background-color: #fff;
}
.p-btn__menu.active .p-btn__menuLine::before {
  transform: rotate(45deg);
}
.p-btn__menu.active .p-btn__menuLine::after {
  transform: rotate(-45deg);
}

 /* メインビジュアル */
 .l-mv {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 160px;
   text-align: center;
   background-image: url(../../../images/sp_header.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
 }
 .l-mv__titleArea {
   text-align: center;
   color: #fff;
 }
 .l-mv__title {
  font-size: 7.5vw;
  line-height: 1;
  text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
  margin-bottom: 2%;
 }

/* main */
.l-main {
  padding: 15% 0;
}

/* message */
.p-message {
  width: 90%;
  margin: 0 auto;
}
.p-message__titleArea {
  text-align: center;
  margin: 0 auto;
}
.p-message__title {
  font-size: 6.5vw;
  color: #dd1b57;
  margin-bottom: 4.5%;
}
.p-message__subTitle {
  font-size: 3.5vw;
  margin-bottom: 8%;
}
.p-message__content {
  margin: 0 auto;
}
.p-message__avatar {
  width: 100px;
  margin: 0 25px 15px 0;
  float: left;
}
.p-massage__avaterImg {
  border-radius: 50%;
}
.p-message__textBox {
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-size: 3.5vw;
}
.p-message__text a {
  text-decoration: underline;
  color: #349bf4;
}

/* office */
.p-office {
  margin: 15% 5% 0 5%;
}
.p-office__img {
  height: 260px;
}

 /* footer */
 .l-footer {
   color: #fff;
   padding: 5% 3%;
   background-color: #dd1b57;
 }
 .l-footer__navList {
   display: flex;
   gap: 5%;
   line-height: 2;
 }
 .l-footer__navItem a {
   font-size: 1.2vw;
   font-weight: 700;
 }
 .l-footer__copyright {
   font-size: 0.1vw;
  }
}